*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img{
    width: 10%;
}

/*HEADER*/
.header{
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

.header__container-iconos{
    display: flex;
    justify-content: space-between;
    color:white;
}

.header__container-menu{
    display: none;
}

.header__container-hamburguesa{
    color:white;
    font-size: 24px;
    margin-left: 12px;
}

.main{
    background: black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__container-izquierdo{
    text-align: center;
    padding: 0 24px;
}

.main__izquierdo-titulo{
    font-family: "Poppins",sans-serif;
    line-height: 75px;
    margin-top: 45px;
    font-size: 55px;
    font-weight: 600;
}

.main__izquierdo-descripcion{
    font-family: "Poppins",sans-serif;
    margin: 12px 0 24px 0;
    font-size: 15px;
    font-weight: 600;
}

.main__izquierdo-boton{    
    width: 100%;
    background: white;
    padding: 10px 48px;
    border-radius: 10px;
}

.main__elementos-boton:hover{
    background: gray;
}

.main__boton{
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    color: black;
}

.main__container-derecho{
    width: 100%;
}

.main__derecho-img{
    width: 100%;
}

/*CARRUSEL*/

.article_carrusel{
    background-color: black;
    padding: 70px 0;
}

.container_carrusel{
    display: grid;
    grid-template-columns: repeat(8, 95%);
    width: 100%;
    height: 107vh;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 10px;
    scroll-snap-type: x mandatory; /*De esta forma evitaremos que nuestro carrusel se quede en mitad de dos im치genes.*/
    padding: 0 23px;
}

/*TARJETA 1*/

.carrusel_tarjeta_1{
    scroll-snap-align: center; /*Indica que el punto de anclaje es el centro del elemento y el scroll no se detendr치 entre las tarjetas*/
    position: relative;
    background: linear-gradient(180deg, transparent 38%, #000 80%);
}

.img_carrusel_1{
    width: 100%;    
    scroll-snap-align: center;
    border-radius: 10px;
} 

.carrusel_tarjeta_1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 38%, #000 80%);
}

.carrusel_texto_1{
    position: absolute;
    height: 60%;
    bottom: 10px;
    padding: 0 21px;
    z-index: 99;
}

.carrusel_titulo_1,
.carrusel_titulo_2{
    color: #FFFFFF;
    margin-top: 65px;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

.carrusel_descripcion_1,
.carrusel_descripcion_2,
.carrusel_descripcion_3,
.carrusel_descripcion_4,
.carrusel_descripcion_5{
    color: #FFFFFF;
    margin-top: 8px;
    line-height: 22px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.carrusel_link_1,
.carrusel_link_2,
.carrusel_link_4,
.carrusel_link_5,
.carrusel_link_6{
    position: absolute;
    bottom: 40px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/*TARJETA 2*/

.carrusel_tarjeta_2{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
}

.carrusel_tarjeta_2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 38.87%, #000 79.54%);
}

.img_carrusel_2{
    margin-top: 40px;
    width: 60%;
    scroll-snap-align: center;
}

.carrusel_texto_2{
    position: absolute;
    height: 55%;
    bottom: 10px;
    text-align: left;
    padding: 0 21px;
    z-index: 99;
}

/*TARJETA 3*/

.carrusel_tarjeta_3{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    background-color: #ad183c;
    border-radius: 10px;
}

.carrusel_tarjeta_3::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(82, 4, 4, 0) 38%, #730404 68%);
    border-radius: 10px;
}

.carrusel_texto_3{
    position: absolute;
    height: 65%;
    bottom: 10px;
    text-align: left;
    padding: 0 21px;
    z-index: 99;
}

.carrusel_titulo_3{
    width: 70%;
    color: #FFFFFF;
    margin: 25px 0 10px 0;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

/*TARJETA 4*/

.carrusel_tarjeta_4{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    background-color: #a30953;
    border-radius: 10px;
}

.carrusel_tarjeta_4::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(133, 12, 128, 0) 38%, #670d76 68%);
    border-radius: 10px;
}

.carrusel_texto_4{
    position: absolute;
    height: 65%;
    bottom: 10px;
    text-align: left;
    padding: 0 21px;
    z-index: 99;
}

.carrusel_titulo_4{
    width: 80%;
    color: #FFFFFF;
    margin: 60px 0 10px 0;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

/*TARJETA 5*/

.carrusel_tarjeta_5{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(180deg, #074cb4 38%, #024d6c 68%);
    border-radius: 10px;
}

.img_carrusel_5,
.img_carrusel_8{
    width: 100%;
    margin-top: 30px;
}

.carrusel_texto_5{
    position: absolute;
    height: 65%;
    bottom: 10px;
    text-align: left;
    padding: 0 21px;
}

.carrusel_titulo_5{
    color: #FFFFFF;
    margin: 90px 0 10px 0;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

/*TARJETA 6*/

.carrusel_tarjeta_6{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    background-color: #ad631e;
    border-radius: 10px;
}

.carrusel_tarjeta_6::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(138, 58, 13, 0) 38%, #7d260b 68%);
    border-radius: 10px;
}

.carrusel_texto_6{
    position: absolute;
    height: 65%;
    bottom: 10px;
    text-align: left;
    padding: 0 21px;
    z-index: 99;
}

.carrusel_titulo_6{
    color: #FFFFFF;
    margin: 90px 0 10px 0;
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

.carrusel_descripcion_6{
    color: #FFFFFF;
    margin-top: 8px;
    line-height: 22px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

/*TARJETA 7*/

.carrusel_tarjeta_7{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    background-color: #a30953;
    border-radius: 10px;
}

.carrusel_tarjeta_7::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(133, 12, 128, 0) 38%, #670d76 68%);
    border-radius: 10px;
}

.carrusel_texto_7{
    position: absolute;
    height: 65%;
    bottom: 50px;
    text-align: left;
    padding: 0 21px;
    z-index: 99;
}

.carrusel_titulo_7{
    color: #FFFFFF;
    margin: 90px 0 10px 0;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

.carrusel_descripcion_7{
    color: #FFFFFF;
    margin-top: 8px;
    line-height: 22px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

/*TARJETA 8*/

.carrusel_tarjeta_8{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(180deg, #430fb1 30%, #0e2883 68%);
    border-radius: 10px;
}

.carrusel_texto_8{
    position: absolute;
    height: 65%;
    bottom: 50px;
    text-align: left;
    padding: 0 21px;
}

.carrusel_titulo_8{
    width: 80%;
    color: #FFFFFF;
    margin: 90px 0 10px 0;
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

.carrusel_descripcion_8{
    color: #FFFFFF;
    margin-top: 8px;
    line-height: 22px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
/*CARRUSEL*/

.article__contenedor-gama{
    padding-top: 50px;
    background-color: #000;
    position: relative;
    color: #FFFFFF;
}

.img__fondo-gama{
    width: 100%;
    padding-top: 55px;
    padding-bottom: 100px;
}

.container__titulo-gama{
    width: 80%;
    position: absolute;
    top: 0;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding: 0 25px;
}

.carrusel__segundo{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    position: absolute;
    top: 52%;
    width: 100%;
    height: 350px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 40px;
    scroll-snap-type: x mandatory; /*De esta forma evitaremos que nuestro carrusel se quede en mitad de dos im치genes.*/
    padding: 0 23px;
}

.carrusel_uno{
    scroll-snap-align: center;
}

.gama__decription-title1,
.gama__decription-title2{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.gama__decription-title1::after{
    content: "Max";
    padding: 0.2515rem 0.6707rem;
    background-color: #332619;
    color: #ffbe7d;
    border-radius: 0.66rem;
    font-size: .75rem;
    margin: 6px 0px 8px 8px;
    text-align: center;
}

.gama__decription-description{
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0 0 0 8px;
    font-size: 1rem;
    line-height: 10px;
    padding: 10px 0 20px;
}

.caja__titulo3{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.gama__decription-title3{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.gama__decription-description3{
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0 0 0 8px;
    font-size: 1rem;
    line-height: 10px;
}

.gama__detalle-text{
    font-family: "Poppins", sans-serif;
    color:white;
    font-size: 18px;
    line-height: 31px;
    font-weight: 300;
}

.gama__decription-title2::after{
    content: "Alta";
    padding: 0.2515rem 0.6707rem;
    background-color: #07332f;
    color: #21feec;
    border-radius: 0.66rem;
    font-size: .75rem;
    margin: 6px 0px 8px 8px;
    text-align: center;
}


.gama__decription-title3::after{
    content: "Baja";
    padding: 0.2515rem 0.6707rem;
    background-color: #393940;
    border-radius: 0.66rem;
    font-size: .75rem;
    margin: 6px 0px 8px 8px;
    text-align: center;
}

.cards{
    background: #000;
    padding: 72px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel__tercero{
    display: grid;
    grid-template-columns: repeat(4, 100%);    
    width: 100%;
    height: 450px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 10px;
    scroll-snap-type: x mandatory; /*De esta forma evitaremos que nuestro carrusel se quede en mitad de dos im치genes.*/
    padding: 0 23px;
}

.carrusel_dos{
    scroll-snap-align: center;
}

.cards__text-title{
    padding: 24px 36px;
    margin-bottom: 12px;
}

.text__title{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.cards__text-description{
    padding: 0 12px;
    margin-bottom: 24px;
}

.text__description{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    text-align: center;
    
}

.text__description span{
    font-weight: bold;
}

.cards__text-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text__img{
    width: 50%;
}

.text__img-especial{
    width: 20%;
}