*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*::selection{
    background: aqua;
    color:white;
}

img{
    width: 10%;
}

svg{
    width: 10%;
}

/*HEADER*/
.header{
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

.header__container-iconos{
    display: flex;
    justify-content: space-between;
    color:white;
}

.header__container-menu{
    display: none;
}

.header__container-hamburguesa{
    color:white;
    font-size: 24px;
    margin-left: 12px;
}

.main{
    background: black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__container-izquierdo{
    text-align: center;
    padding: 0 24px;
}

.main__izquierdo-titulo{
    font-family: "Poppins",sans-serif;
    line-height: 75px;
    margin-top: 45px;
    font-size: 55px;
    font-weight: 600;
}

.main__izquierdo-descripcion{
    font-family: "Poppins",sans-serif;
    margin: 12px 0 24px 0;
    font-size: 15px;
    font-weight: 600;
}

.main__izquierdo-boton{    
    width: 100%;
    background: white;
    padding: 10px 48px;
    border-radius: 10px;
}

.main__elementos-boton:hover{
    background: gray;
}

.main__boton{
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    color: black;
}

.main__container-derecho{
    width: 100%;
}

.main__derecho-img{
    width: 100%;
}

/*CARRUSEL*/

.article_carrusel{
    background-color: black;
    padding: 70px 0;
}

.container_carrusel{
    display: grid;
    grid-template-columns: repeat(8, 95%);
    width: 100%;
    height: 107vh;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 10px;
    scroll-snap-type: x mandatory; /*De esta forma evitaremos que nuestro carrusel se quede en mitad de dos imágenes.*/
    padding: 0 23px;
}

/*TARJETA 1*/

.carrusel_tarjeta_1{
    scroll-snap-align: center; /*Indica que el punto de anclaje es el centro del elemento y el scroll no se detendrá entre las tarjetas*/
    position: relative;
    background: linear-gradient(180deg, transparent 38%, #000 80%);
}

.img_carrusel_1{
    width: 100%;    
    scroll-snap-align: center;
    border-radius: 10px;
} 

.carrusel_tarjeta_1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 38%, #000 80%);
}

.carrusel_texto_1{
    position: absolute;
    height: 60%;
    bottom: 10px;
    padding: 0 21px;
    z-index: 99;
}

.carrusel_titulo_1,
.carrusel_titulo_2{
    color: #FFFFFF;
    margin-top: 65px;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

.carrusel_descripcion_1,
.carrusel_descripcion_2,
.carrusel_descripcion_3,
.carrusel_descripcion_4,
.carrusel_descripcion_5{
    color: #FFFFFF;
    margin-top: 8px;
    line-height: 22px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.carrusel_link_1,
.carrusel_link_2,
.carrusel_link_4,
.carrusel_link_5,
.carrusel_link_6{
    position: absolute;
    bottom: 40px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/*TARJETA 2*/

.carrusel_tarjeta_2{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
}

.carrusel_tarjeta_2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 38.87%, #000 79.54%);
}

.img_carrusel_2{
    margin-top: 40px;
    width: 60%;
    scroll-snap-align: center;
}

.carrusel_texto_2{
    position: absolute;
    height: 55%;
    bottom: 10px;
    text-align: left;
    padding: 0 21px;
    z-index: 99;
}

/*TARJETA 3*/

.carrusel_tarjeta_3{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    background-color: #ad183c;
    border-radius: 10px;
}

.carrusel_tarjeta_3::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(82, 4, 4, 0) 38%, #730404 68%);
    border-radius: 10px;
}

.carrusel_texto_3{
    position: absolute;
    height: 65%;
    bottom: 10px;
    text-align: left;
    padding: 0 21px;
    z-index: 99;
}

.carrusel_titulo_3{
    width: 70%;
    color: #FFFFFF;
    margin: 25px 0 10px 0;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

/*TARJETA 4*/

.carrusel_tarjeta_4{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    background-color: #a30953;
    border-radius: 10px;
}

.carrusel_tarjeta_4::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(133, 12, 128, 0) 38%, #670d76 68%);
    border-radius: 10px;
}

.carrusel_texto_4{
    position: absolute;
    height: 65%;
    bottom: 10px;
    text-align: left;
    padding: 0 21px;
    z-index: 99;
}

.carrusel_titulo_4{
    width: 80%;
    color: #FFFFFF;
    margin: 60px 0 10px 0;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

/*TARJETA 5*/

.carrusel_tarjeta_5{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(180deg, #074cb4 38%, #024d6c 68%);
    border-radius: 10px;
}

.img_carrusel_5,
.img_carrusel_8{
    width: 100%;
    margin-top: 30px;
}

.carrusel_texto_5{
    position: absolute;
    height: 65%;
    bottom: 10px;
    text-align: left;
    padding: 0 21px;
}

.carrusel_titulo_5{
    color: #FFFFFF;
    margin: 90px 0 10px 0;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

/*TARJETA 6*/

.carrusel_tarjeta_6{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    background-color: #ad631e;
    border-radius: 10px;
}

.carrusel_tarjeta_6::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(138, 58, 13, 0) 38%, #7d260b 68%);
    border-radius: 10px;
}

.carrusel_texto_6{
    position: absolute;
    height: 65%;
    bottom: 10px;
    text-align: left;
    padding: 0 21px;
    z-index: 99;
}

.carrusel_titulo_6{
    color: #FFFFFF;
    margin: 90px 0 10px 0;
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

.carrusel_descripcion_6{
    color: #FFFFFF;
    margin-top: 8px;
    line-height: 22px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

/*TARJETA 7*/

.carrusel_tarjeta_7{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    background-color: #a30953;
    border-radius: 10px;
}

.carrusel_tarjeta_7::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(133, 12, 128, 0) 38%, #670d76 68%);
    border-radius: 10px;
}

.carrusel_texto_7{
    position: absolute;
    height: 65%;
    bottom: 50px;
    text-align: left;
    padding: 0 21px;
    z-index: 99;
}

.carrusel_titulo_7{
    color: #FFFFFF;
    margin: 90px 0 10px 0;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

.carrusel_descripcion_7{
    color: #FFFFFF;
    margin-top: 8px;
    line-height: 22px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

/*TARJETA 8*/

.carrusel_tarjeta_8{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(180deg, #430fb1 30%, #0e2883 68%);
    border-radius: 10px;
}

.carrusel_texto_8{
    position: absolute;
    height: 65%;
    bottom: 50px;
    text-align: left;
    padding: 0 21px;
}

.carrusel_titulo_8{
    width: 80%;
    color: #FFFFFF;
    margin: 90px 0 10px 0;
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

.carrusel_descripcion_8{
    color: #FFFFFF;
    margin-top: 8px;
    line-height: 22px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
/*CARRUSEL*/

.article__contenedor-gama{
    padding-top: 50px;
    background-color: #000;
    position: relative;
    color: #FFFFFF;
}

.img__fondo-gama{
    width: 100%;
    padding-top: 55px;
    padding-bottom: 100px;
}

.container__titulo-gama{
    width: 80%;
    position: absolute;
    top: 0;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding: 0 25px;
}

.carrusel__segundo{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    position: absolute;
    top: 52%;
    width: 100%;
    height: 350px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 40px;
    scroll-snap-type: x mandatory; /*De esta forma evitaremos que nuestro carrusel se quede en mitad de dos imágenes.*/
    padding: 0 23px;
}

.carrusel_uno{
    scroll-snap-align: center;
}

.gama__decription-title1,
.gama__decription-title2{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.gama__decription-title1::after{
    content: "Max";
    padding: 0.2515rem 0.6707rem;
    background-color: #332619;
    color: #ffbe7d;
    border-radius: 0.66rem;
    font-size: .75rem;
    margin: 6px 0px 8px 8px;
    text-align: center;
}

.gama__decription-description{
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0 0 0 8px;
    font-size: 1rem;
    line-height: 10px;
    padding: 10px 0 20px;
}

.caja__titulo3{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.gama__decription-title3{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.gama__decription-description3{
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0 0 0 8px;
    font-size: 1rem;
    line-height: 10px;
}

.gama__detalle-text{
    font-family: "Poppins", sans-serif;
    color:white;
    font-size: 18px;
    line-height: 31px;
    font-weight: 300;
}

.gama__decription-title2::after{
    content: "Alta";
    padding: 0.2515rem 0.6707rem;
    background-color: #07332f;
    color: #21feec;
    border-radius: 0.66rem;
    font-size: .75rem;
    margin: 6px 0px 8px 8px;
    text-align: center;
}


.gama__decription-title3::after{
    content: "Baja";
    padding: 0.2515rem 0.6707rem;
    background-color: #393940;
    border-radius: 0.66rem;
    font-size: .75rem;
    margin: 6px 0px 8px 8px;
    text-align: center;
}

.cards{
    background: #000;
    padding: 72px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel__tercero{
    display: grid;
    grid-template-columns: repeat(4, 100%);    
    width: 100%;
    height: 450px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 10px;
    scroll-snap-type: x mandatory; /*De esta forma evitaremos que nuestro carrusel se quede en mitad de dos imágenes.*/
    padding: 0 23px;
}

.carrusel_dos{
    scroll-snap-align: center;
}

.cards__text-title{
    padding: 24px 36px;
    margin-bottom: 12px;
}

.text__title{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.cards__text-description{
    padding: 0 12px;
    margin-bottom: 24px;
}

.text__description{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    text-align: center;
    
}

.text__description span{
    font-weight: bold;
}

.cards__text-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text__img{
    width: 50%;
}

.text__img-especial{
    width: 20%;
}

.degrade{
    background: #000;
    padding: 72px 24px;

}

.degrade__text{    
    padding-top: 12px;
    display: flex;
    flex-direction: column;    
}

.degrade__text-title{
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 60px;
}

.degrade__caja-azul{
    margin-top: 50px;
    background-color: #5CCEC8;
    padding: 36px 36px 24px 36px;
    border-radius: 10px;
}

.caja__azul-title{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.caja__azul-subtitle{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 4.8px 0px 24px;
    font-weight: 500;
}

.caja__subcaja-azul{
    padding: 24px 24px 24px 0;
    background-color: #89D4D0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.subcaja__espacio{
    margin-bottom: 18px;
}

.subcaja__title{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.subcaja__quality{
    margin-top: 4.8px;
    font-size: 12px;
}

.subcaja__live{
    font-family: "Poppins", sans-serif;
    margin-top: 4.8px;
    font-size: 10px;
}

.subcaja__boton-azul{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    background: #74BDB9;
    padding: 12px 0px 12px 0px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.degrade__caja-azul-valores{
    padding-top: 48px;
    margin-bottom: 12px;
}

.caja__azul-valores{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.degrade__caja-azul-boton{
    font-family: "Poppins", sans-serif;
    background-color: white;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

.caja__azul-boton{
    text-decoration: none;
    font-size: 16px;
    color:black;
}

.degrade__caja-azul-link{
    text-align: center;
    padding-top: 20px;
}

.caja__azul-link{
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 12px;
    font-weight: bolder;
}

/* ACA EMPIEZA SEGUNDA CAJA */

.degrade__caja-naranja{
    margin-top: 50px;
    background-color: #FFB972;
    padding: 36px 36px 24px 36px;
    border-radius: 10px;
}

.caja__naranja-title{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.caja__naranja-subtitle{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 4.8px 0px 24px;
    font-weight: 500;
}

.caja__subcaja-naranja{
    padding: 24px 24px 24px 0;
    background-color: #FFD79C;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.subcaja__boton-naranja{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    background: #FFBF7E;
    padding: 12px 0px 12px 0px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.degrade__caja-naranja-valores{
    padding-top: 48px;
    margin-bottom: 12px;
}

.caja__naranja-valores{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.degrade__caja-naranja-boton{
    font-family: "Poppins", sans-serif;
    background-color: white;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

.caja__naranja-boton{
    text-decoration: none;
    font-size: 16px;
    color:black;
}

.degrade__caja-naranja-link{
    text-align: center;
    padding-top: 20px;
}

.caja__naranja-link{
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 12px;
    font-weight: bolder;
}

.degrade__planes-link{
    padding-top: 48px;
    text-align: center;
}

.planes__link-planes{
    color: white;
    font-weight:500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.carrusel__pequeño{
    background: black;

}

.carrusel_pequeño-tarjeta{
    display: grid;
    grid-template-columns: repeat(20, 50%);
    gap: 10px;
    width: 100%;
    height: 162px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; /*De esta forma evitaremos que nuestro carrusel se quede en mitad de dos imágenes.*/
    padding: 0;
}


.img_carrusel_pequeño{
    width: 100%;    
    scroll-snap-align: center;
} 

.faq{
    background: #141417;
    color: white;
    padding: 48px 24px;
}

.faq__text{
    padding: 72px 0;
}

.faq__text-title{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 48px;
    margin-bottom: 48px;
}

.faq__container-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.faq__tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.faq__tarjeta-title{
    font-family: "Poppins", sans-serif;
    margin-bottom: 16px;
}

.faq__tarjeta-subtitle{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.listado{
    font-family: "Poppins", sans-serif;
    padding:48px 24px 0px 24px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.listado__container{
    padding-bottom: 48px;
}

.listado-title{
    color:#929992;
    font-size: 14px;
    margin-bottom: 25px;
}
.lista-subtitle{    
    padding-left: 0px;
    font-size: 16px;
}
.lista-subtitle li{
    list-style: none;
    margin-bottom: 25px;
}

.lista-subtitle li a{
    text-decoration: none;
}

.lista-subtitle li a:active{
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.lista-subtitle li a:visited{
    color: white;
}

.lista-subtitle li a:hover{
    transition: 1s all;
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 5px;

}

.listado__imagen{
    background: black;
    display: none;
}

.imagen__pc {
    padding: 0 12px;
}

.imagen__pc svg{
    margin-bottom: 48px;
}

.imagen__pc-caja-link{
    background: black;
    color:aqua;
    border:1px solid aqua;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    text-align: center;
}

.imagen__pc-caja-link a{
    text-decoration: none;
}

.imagen__pc-caja-link a:visited{
    color:aqua;
}

.redes__sociales{
    background: black;
    padding: 0 10px;
    display: flex;
    flex-direction: column-reverse;    
   
}

.redes__sociales-iconos{
    color: gray;
    margin-bottom: 24px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
}

.redes__sociales-iconos a i:hover{
    transition: 1s all;
    color: white;
    cursor: pointer;
}

.redes__sociales-iconos a:visited{
    color: grey;
}

.redes__sociales-iconos a:active{
    color: grey;
}

.redes__sociales-texto{
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
}

.sociales__texto-descripcion{
    color:grey;
    font-size: 12px;
}